//active alerts, icons, bar, addProject etc.
$featureActive: #ff503f;
$alertDisabled: #adadad;
//colors for menu bar
$menuBg: #1d2226;
$menuItemIcoDisabled: #4b4d4f;
$menuItemTextActive: #ffffff;
$menuItemTextDisabled:#787878;
//colors for header
$headerBg: #f1f1f1;
